---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "chore"
      include: "scope"
    assignees:
      - "handlebargh"
    groups:
      github-actions:
        patterns:
          - "*"
    open-pull-requests-limit: 3
    rebase-strategy: "auto"
