---
name: goreleaser

on:
  push:
    tags:
      - v*.*.*

jobs:
  goreleaser:
    permissions:
      id-token: write
      contents: write
    name: Run GoReleaser
    runs-on: ubuntu-latest
    environment: release
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Install cosign
        uses: sigstore/cosign-installer@v4.0.0

      - name: Place GPG key
        run: |
          echo "$GPG_PRIVATE_KEY" > /tmp/privkey.asc
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}

      - name: Place AUR key
        run: |
          echo "$AUR_KEY" > /tmp/aur_key
        env:
          AUR_KEY: ${{ secrets.AUR_KEY }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PACKAGE_UPDATE_TOKEN: ${{ secrets.PACKAGE_UPDATE_TOKEN }}
          AUR_KEY: /tmp/aur_key
          NFPM_PASSPHRASE: ${{ secrets.NFPM_PASSPHRASE }}
          GPG_KEY_PATH: /tmp/privkey.asc